.writeTodo{
    display: flex;
    margin: 35px 0;
    flex-direction: column;
    align-items: center;
    .writeTodo_imageContainer{
        width: 240px;
        height: 200px;
        background: rgba(99, 103, 233, 0.2);
        border-radius: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .writeTodo_text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 28px;
        font-weight: 400;
        .writeTodo_text__title{
            color: #666666;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .writeTodo_text__subtitle{
            color: #333333;
            margin-bottom: 30px;
        }
    }
}