@import '../../ScssVariables.module.scss';

.listAllTodosContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    max-width: 480px;
    @media screen and (max-width: 900px){
        width: 100%;
        margin-bottom: 70px;
        align-items: center;
    }
    @media screen and (max-width: 600px){
        max-width: none;
        width: 100%;
        align-items: normal;
    }
    .listAllTodos__title{
        font-size: 28px;
        font-weight: 400;
        color: #444444;
        margin-bottom: 30px;
        @media screen and (max-width: 600px){
            padding-left: 20px;
        }
    }
    .listAllTodos_menuSelectTodoCondition{
        @media screen and (max-width: 600px){
            padding-left: 20px;
        }
        .listAllTodos_ul{
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            .listAllTodos_ul__li{
                color: #999999;
                margin-right: 30px;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}