.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 45px;
    width: 100%;
    min-width: 360px;
    border-bottom: solid 2px #F5F5F5;
    flex-direction: column;
    .inputEditTask{
        max-width: 420px;
        height: 56px;
        background-color: #F1F1F1;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        .inputEditTask__input{
            background-color: #F1F1F1;
            border-radius: 20px;
            height: 100%;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 18px;
            padding: 20px 30px;
            width: 70%;
            &::placeholder{
                color: #999999;
            }
            @media screen and (max-width: 600px){
                font-size: 16px;
                border-radius: 16px;
            }
        }
        .inputEditTask__btn{
            width: 76px;
            height: 36px;
            background: #4165FF;
            font-size: 18px;
            margin-right: 10px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            &:hover{
                cursor:pointer;
            }
            @media screen and (max-width: 600px){
                font-size: 16px;
                border-radius: 16px;
            }
        }
    }
}
.form_invisible{
    display: none;
}
