.inputNewTask{
    width: 480px;
    height: 80px;
    background-color: #F1F1F1;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    @media screen and (max-width: 1200px){
        height: 60px;
        width: 320px;
        border-radius: 16px;
    }
    .inputNewTask__input{
        background-color: #F1F1F1;
        border-radius: 20px;
        height: 100%;
        width: 70%;
        font-size: 16px;
        padding: 20px 30px;
        &::placeholder{
            color: #999999;
        }
    }
    .inputNewTask__btn{
        width: 100px;
        height: 60px;
        background: #4165FF;
        font-size: 18px;
        margin-right: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        &:hover{
            cursor:pointer;
            background: #2A50ED;
        }
        @media screen and (max-width: 1200px){
            height: 40px;
            width: 70px;
            border-radius: 16px;
            font-size: 16px;
        }
    }
}
form div{
    color: #DE2323;
    font-weight: 400;
    padding-top: 8px;
    font-size: 16px;
}