@media screen and (max-width: 1300px){
    .writeFirstTodo_imageContainer__image{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 1080px){
    .regist_imageContainer__image, .login_imageContainer__image{
        height: 150px;
        width: 150px;
    }
    .header__logo{
        width: 150px;
        height: 26px;
    }
}

@media screen and (max-width: 750px){
    .regist_imageContainer__image{
        height: 140px;
        width: 140px;
    }
}

@media screen and (max-width: 750px){
    .login_imageContainer__image{
        height: 150px;
        width: 150px;
    }
}